.sticky {
  position: fixed;
  top: 0;
  width: calc(97vw - 3vh);
}

.about-page {
  margin: 6rem;
}

.about-content--title.about-h2,
.about-content--para.about-p {
  color: var(--tr-dark-turquoise);
}

.about-timeline--title {
  font-size: 2.5rem;
  padding: 0 2rem 2rem 2rem;
}

.about-timeline ul {
  margin: 0 2rem;
  padding: 5rem 0;
  /* flex-grow: 1;
  width: 100%; */
  border: 1px solid var(--tr-dark-turquoise);
}

/* create line */
.about-timeline ul li {
  list-style: none;
  position: relative;
  width: 0.6rem;
  margin: 0 auto;
  padding-top: 2rem;
  background: var(--tr-dark-turquoise);
}

/* boxes */
.about-timeline ul li div {
  position: relative;
  bottom: 0;
  width: 40rem;
  padding: 1rem;
  background: var(--tr-turquoise);
  transition: all 0.5s ease-in-out;
  color: white;
  font-size: 1.5rem;
  visibility: hidden;
  opacity: 0;
}

/* right side */
.about-timeline ul li:nth-child(odd) div {
  left: 4rem;
  transform: translate(20rem, 0);
}

/* left side */
.about-timeline ul li:nth-child(even) div {
  left: -43.4rem;
  transform: translate(-20rem, 0);
}

/* dots */
.about-timeline ul li:after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 2.5rem;
  height: 2.5rem;
  background: inherit;
  transform: translateX(-50%);
  border-radius: 50%;
  transition: background 0.5s ease-in-out;
}

/* arrows base */
.about-timeline div:before {
  content: '';
  position: absolute;
  bottom: 0.5rem;
  width: 0;
  height: 0;
  border-style: solid;
}

/* right side arrows */
.about-timeline ul li:nth-child(odd) div:before {
  left: -1.5rem;
  border-width: 0.8rem 1.6rem 0.8rem 0;
  border-color: transparent var(--tr-turquoise) transparent transparent;
}

/* left side arrows */
.about-timeline ul li:nth-child(even) div:before {
  right: -1.5rem;
  border-width: 0.8rem 0 0.8rem 1.6rem;
  border-color: transparent transparent transparent var(--tr-turquoise);
}

/* show boxes */
.about-timeline ul li.show div {
  transform: none;
  visibility: visible;
  opacity: 1;
}

.about-timeline ul li.show:after {
  background: var(--lime);
}

.stress {
  text-decoration: underline;
}

/* contact link on success page */
a.contact-link:link,
a.contact-link:visited {
  color: var(--tr-turquoise);
  padding: 1rem 0;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
}

a.contact-link:hover,
a.contact-link:active {
  color: var(--tr-dark-turquoise);
}
